html{
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
}

body{
    padding: 1%;
    text-align: center; 
    margin:0% 2%;
}

table{
    /* width: 60%; */
}

#reponseYes{
color: rgb(77, 210, 77);
font-size: large;
border-radius : 0.3em;
font-weight: bold;
}


#reponseNo{
color:rgb(255, 74, 74);
font-size: large;
border-radius : 0.3em;
font-weight: bold;
}