header{
    background-color: #88c1d0;
    height: 100px;
    width: 106%;
    padding-top: 1.8%;
    margin:-3% 0% 3% -3%;
}

#logo{
    width:550px; 
    height:70px; 
    margin:-23px 0px 0px -120px;
}
