html{
width: 100%;
height: 100%;
margin:0;
padding:0;
}


/* ORDINATEUR TAILLE */
@media screen and (min-width : 960px){
    body{
        padding: 1%;
        text-align: center; 
        margin:0% 2%;
    }

    .alignCenter{
        text-align:center;
    }

    .formCo{
        font-size:1.5vw;
    }

    form{
        border-radius: 0.5em;
        padding: 2%;
        width: 50%;
        margin:2% auto;
    }

    #button{
    margin-top:10px;
    color:rgb(253, 124, 124);
    font-size: 0.7vw;
    font-weight: bold;
    border-radius: 0.3em;
    }

    #titreForm{
        color:white; margin:1% 0 2%;
    }

    #animCo {
        animation-duration: 3s;
        animation-name: animCo;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }
      
      @keyframes animCo {
        0% {transform: translateY(0px);}
    
        20% {transform: translateY(100px) scale(1);}
    
        100% {transform: translateY(200px) scale(2);}
      }

      #animBut {
        animation-name: animBut;
        animation-duration: 1.9s;
        animation-delay: 0.9s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        color:red;
        font-size: 10px;

      }
      
      @keyframes animBut {
        0% {transform: translateY(0px);}
        100% {transform: translateY(-10px) scale(1.7);}
      }

}