html{
width: 100%;
height: 100%;
margin:0;
padding:0;
}


#reponseYes{
color: rgb(145, 214, 145);
font-size: 1.1vw;
font-weight: bold;
}


#reponseNo{
color:rgb(253, 124, 124);
font-size: 1vw;
font-weight: bold;
}


#reponseAttente{
color:rgb(255, 255, 83);
font-size: large;
}

/* ORDINATEUR TAILLE */
@media screen and (min-width:960px){
    body{
    padding: 1%;
    text-align: center; 
    margin:0% 2%;
    }

    table{
    margin:1.5% auto;
    width: 60%;
    font-size: 1.1vw;
    }
    section{
    margin: 1% auto 3%;
    }

    #table{
    border-radius:2em; 
    border:2px white solid;
    }

    #effaceHisto{
        border-radius: 0.3em; 
        font-size:1.2vw; 
        padding:0.4%;
        color:rgb(255, 74, 74);
        font-weight: bold;
    }

    #intitule{
        border:0.5px white solid; 
        color:black;
    }

    td{
        padding:2%;
    }
}